! NetBox merge candidate for {{ device.name }}
!
ip routing
!
{% if device.role.slug == "leaf" %}
{% for vrf in service_vrfs %}
vrf instance {{ vrf.name }}
!
{% endfor %}
{% for vlan in service_vlans %}
vlan {{ vlan.vid }}
   name {{ vlan.name }}
!
{% endfor %}
{% endif %}
interface Loopback0
   description fabric router-id
   ip address {{ loopback.address }}
!
{% for iface in fabric_interfaces %}
interface {{ iface.name }}
   description {{ iface.description }}
   no switchport
   ip address {{ iface.address }}
   mtu {{ iface.mtu }}
   no shutdown
!
{% endfor %}
{% for iface in access_interfaces %}
interface {{ iface.name }}
   description {{ iface.description }}
   switchport access vlan {{ iface.vlan }}
   mtu {{ iface.mtu }}
   no shutdown
!
{% endfor %}
{% for svi in svis %}
interface {{ svi.name }}
   description {{ svi.description }}
   vrf {{ svi.vrf }}
   ip address {{ svi.address }}
   no autostate
!
{% endfor %}
router bgp {{ local_asn }}
   router-id {{ router_id }}
   maximum-paths {{ bgp.maximum_paths }} ecmp {{ bgp.maximum_paths }}
{% for neigh in neighbors %}
   neighbor {{ neigh.ip }} remote-as {{ neigh.asn }}
{% endfor %}
   !
   address-family ipv4
{% for neigh in neighbors %}
      neighbor {{ neigh.ip }} activate
{% endfor %}
      network {{ loopback.address }}
   !
!
end
